﻿@{
    ViewData["Title"] = "Receipt";
}

<div class="receipt">
    <p>Hello there,</p>
    <p>Your order has been submitted.</p>
    <p>You should get a notification once your items have been dispatched.</p>
    <p>Thank you for shopping with us.</p>
    <div class="receipt__button-wrapper">
        <a href="/" class="receipt__button">Continue Shopping</a>
    </div>
</div>

